# IntelliJ IDEA
.idea/
*.iml
*.iws
out/

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

# Gradle
.gradle/
build/

# Eclipse
.project
.classpath
.settings/

# MacOS
.DS_Store

# Logs
*.log

# Temporary files
*.tmp
*.swp
